*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helventica neue';
}
html,
body{
  height: 100%;
  width: 100%;

}


.btn{
  height: 100px;
  width: 600px;
  justify-content: center;
  background-color: #0e0b0b;
  align-items: center;
  color: aliceblue;
  font-size: 54px;
}